{% load static %}
{% load humanize %}
<style>
  .checkborder{
    border: 1px solid #ccc !important;
  }
</style>
<table id="html5-extension" class="table table-hover non-hover " style="width:100%; text-align: center; ">
    <thead>
        <tr>
            <th class="checkborder">№</th>
            <th class="checkborder">Filial nomi</th>
            <th class="checkborder">Jami qoldiq tan narx summasi</th>
            <th class="checkborder">Jami qoldiq tan narx dollar</th>
            <th class="checkborder">Jami qoldiq sotish summasi</th>
            <th class="checkborder">Jami qoldiq sotish dollar</th>
            <th class="checkborder">Jami sotilgan mahsulot summasi</th>
            <th class="checkborder">Jami sotilgan mahsulot dollar</th>
            <th class="checkborder">Jami yalpi daromad som</th>
            <th class="checkborder">Jami yalpi daromad dollar</th>
            <th class="checkborder">Jami qarzdorlik savdo summasi</th>
            <th class="checkborder">Jami qarzdorlik savdo dollar</th>
        </tr>
    </thead>
    <tbody id="datas">
       {% for filial in data %} 
            <tr>
                <td class="checkborder">{{ forloop.counter }}</td>
                <td class="checkborder">{{ filial.name }}</td>
                <td class="checkborder">{{ filial.jami_qoldiq_tannarx_som|floatformat:2|intcomma|default:0 }} so'm</td>
                <td class="checkborder">{{ filial.jami_qoldiq_tannarx_dollar|floatformat:2|intcomma|default:0 }} $</td>
                <td class="checkborder">{{ filial.jami_qoldiq_sotish_som|floatformat:2|intcomma|default:0  }} so'm</td>
                <td class="checkborder">{{ filial.jami_qoldiq_sotish_dollar|floatformat:2|intcomma|default:0  }} $</td>
                <td class="checkborder">{{ filial.jami_sotilgan_mahsulot_som|floatformat:2|intcomma|default:0  }} so'm</td>
                <td class="checkborder">{{ filial.jami_sotilgan_mahsulot_dollar|floatformat:2|intcomma|default:0  }} $</td>
                <td class="checkborder">{{ filial.jami_yalpi_daromad_som|floatformat:2|intcomma|default:0  }} so'm</td>
                <td class="checkborder">{{ filial.jami_yalpi_daromad_dollar|floatformat:2|intcomma|default:0  }} $</td>
                <td class="checkborder">{{ filial.jami_qarzdorlik_savdo_som|floatformat:2|intcomma|default:0  }} so'm</td>
                <td class="checkborder">{{ filial.jami_qarzdorlik_savdo_dollar|floatformat:2|intcomma|default:0  }} $</td>
               </tr>
        {% endfor %}
    </tbody>
    <br>
    <br>
    <tfoot>
        <tr>
            <td>#</td>
            <td>Jami:</td>
            <td>{{ total_data.total_qoldiq_tannarx_som|floatformat:2|intcomma|default:0 }} so'm</td>
            <td>{{ total_data.total_qoldiq_tannarx_dollar|floatformat:2|intcomma|default:0 }} $</td>
            <td>{{ total_data.total_qoldiq_sotish_som|floatformat:2|intcomma|default:0 }} so'm</td>
            <td>{{ total_data.total_qoldiq_sotish_dollar|floatformat:2|intcomma|default:0 }} $</td>
            <td>{{ total_data.total_sotilgan_mahsulot_som|floatformat:2|intcomma|default:0 }} so'm</td>
            <td>{{ total_data.total_sotilgan_mahsulot_dollar|floatformat:2|intcomma|default:0 }} $</td>
            <td>{{ total_data.total_yalpi_daromad_som|floatformat:2|intcomma|default:0 }} so'm</td>
            <td>{{ total_data.total_yalpi_daromad_dollar|floatformat:2|intcomma|default:0 }} $</td>
            <td>{{ total_data.total_qarzdorlik_savdo_som|floatformat:2|intcomma|default:0 }} so'm</td>
            <td>{{ total_data.total_qarzdorlik_savdo_dollar|floatformat:2|intcomma|default:0 }} $</td>
        </tr>
    </tfoot>
</table>


{% block js %}
<script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
<!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
<script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>

<script>
    $('#html5-extension').DataTable( {
        dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
        buttons: {
            buttons: [
                { extend: 'copy', className: 'btn' },
                { extend: 'csv', className: 'btn' },
                { extend: 'excel', className: 'btn' },
                { extend: 'print', className: 'btn' }
            ]
        },
        "oLanguage": {
            "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
            "sInfo": " _PAGE_ / _PAGES_",
            "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
            "sSearchPlaceholder": "Izlash",
           "sLengthMenu": "Results :  _MENU_",
        },
        "stripeClasses": [],
        "lengthMenu": [10, 20, 50, 100],
        "pageLength": 15
    } );
</script>

{% endblock js %}
