{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    <title>Filial Chiqim | Granit</title>
{% endblock title %}
{% block css %}
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/widgets/modules-widgets.css'%}">
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{% static 'plugins/flatpickr/flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/nouislider.min.css'%}" rel="stylesheet" type="text/css">
    <!-- END THEME GLOBAL STYLES -->

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/flatpickr/custom-flatpickr.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/noUiSlider/custom-nouiSlider.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/bootstrap-range-Slider/bootstrap-slider.css'%}" rel="stylesheet" type="text/css">
    <!--  END CUSTOM STYLE FILE  -->
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
{% endblock css %}
{% block content %}
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="row layout-top-spacing" style="width: 100%;">

                    <div class="col-xl-12 col-lg-8 col-sm-12  layout-spacing" style="padding: 30px;">
                        <div class="widget-content widget-content-area br-6">
                            <div class="row align-items-center">   
    
                                <div class="form-group mb-0 col-12 col-md-4">
                                    <input id="rangeCalendarFlatpickr" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Sanani tanlang">
                                </div>
    
                                <div class="col-12 col-md-4 text-center">
                                    <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Jami</div>
                                    <div class="h5 mb-0 font-weight-bold" id="total-income" style="color: black;">{{ total_expenses|floatformat:2|intcomma }} $</div> -->
                                </div>

                                <div class="col-12 col-md-4">
                                    <fieldset class="form-group mb-0">
                                        <select class="form-control" id="basicSelect">
                                            {% for filial in filials %}
                                                {% if filial.name == current_filial %}
                                                    <option selected>{{ filial.name }}</option>
                                                {% else %}
                                                    <option>{{ filial.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                            <option>Barcha filiallar</option>
                                        </select>
                                    </fieldset>
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-content widget-content-area br-6">
                                    <div class="col-lg-12 col-12 layout-spacing">

                                            <!-- <div class="widget-content pb-2">
                                                <div class="row">
                                                    <div class="form-group mb-0 col-12 col-md-12 col-lg-3">
                                                        <input id="rangeCalendarFlatpickr" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Sanani tanlang">
                                                    </div>
                                                    <div class="form-group mb-0 col-12 col-md-4 col-lg-3">
                                                        <span class="form-control flatpickr flatpickr-input text-center font-weight-bold" style="border:0" id="som">Savdo: {{ total_shop|floatformat:2|intcomma }} $</span>
                                                    </div>
                                                    <div class="form-group mb-0 col-12 col-md-4 col-lg-3">
                                                        <span class="form-control flatpickr flatpickr-input text-center font-weight-bold" style="border:0" id="dollar">Qabul: {{ total_income|floatformat:2|intcomma }} $</span>
                                                    </div>
                                                    <div class="form-group mb-0 col-12 col-md-4 col-lg-3">
                                                        <span class="form-control flatpickr flatpickr-input text-center font-weight-bold" style="border:0" id="dollar">Farq: {{ farq|floatformat:2|intcomma }} $</span>
                                                    </div>
                                                </div>
                                            </div> -->

                                        <div class="widget-content">
                                            <div class="table-responsive mb-4 mt-4">
                                                <table class="table" id="html5-extension">
                                                    <thead>
                                                        <tr>
                                                            <th><div class="th-content">№</div></th>
                                                            <th><div class="th-content">Mahsulot</div></th>
                                                            <th><div class="th-content">Ishlab chiqaruvchi</div></th>
                                                            <th><div class="th-content">Tannarx</div></th>
                                                            <th><div class="th-content">Tannarxs so'm</div></th>
                                                            <th><div class="th-content">Sotish narxi</div></th>
                                                            <th><div class="th-content">Sotish narxi so'm</div></th>
                                                            <th><div class="th-content">Sotilgan soni</div></th>
                                                            <th><div class="th-content">Filial</div></th>
                                                            <th><div class="th-content">Guruh</div></th>
                                                            <th><div class="th-content">Barcode</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for product in page_obj %}
                                                            <tr>
                                                                <td><div style="color: #515365;" class="td-content">{{ forloop.counter }}</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.name }}</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.preparer }}</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.dollar|floatformat:2|intcomma }} $</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.som|floatformat:2|intcomma }} so'm</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.sotish_dollar|floatformat:2|intcomma }} $</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.sotish_som|floatformat:2|intcomma }} so'm</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.shop_quantity }}</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.filial.name }}</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.group.name }}</div></td>
                                                                <td><div style="color: #515365;" class="td-content">{{ product.barcode }}</div></td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                            <!-- <div class="row justify-content-center">
                                                <nav aria-label="...">
                                                    <ul id="pagination" class="pagination" style="display: flex; align-items: flex-end;">
                                                        <li class="page-item d-none"></li>
                                                        {% if page_obj.has_previous %}
                                                            {% if page_obj.previous_page_number != 1 %}
                                                                <li class="page-item">
                                                                    <a class="page-link" style="border-radius: 5px;" href="?page=1&filial-name={{ current_filial }}&date1={{ date1 }}&date2={{ date2 }}">1</a>
                                                                </li>
                                                            {% endif %}
                
                                                            {% if page_obj.previous_page_number > 2 %}
                                                                <li style="padding: 0 10px;">. . .</li>
                                                            {% endif %}
                
                                                            <li class="page-item">
                                                                <a class="page-link" style="border-radius: 5px;" href="?page={{ page_obj.previous_page_number }}&filial-name={{ current_filial }}&date1={{ date1 }}&date2={{ date2 }}">{{ page_obj.previous_page_number }}</a>
                                                            </li>
                                                        {% endif %}
                    
                                                        <li class="page-item active">
                                                            <a class="page-link" style="border-radius: 5px;" href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
                                                        </li>
                
                                                        {% if page_obj.has_next %}
                                                            <li class="page-item">
                                                                <a class="page-link" style="border-radius: 5px;" href="?page={{ page_obj.next_page_number }}&filial-name={{ current_filial }}&date1={{ date1 }}&date2={{ date2 }}">{{ page_obj.next_page_number }}</a>
                                                            </li>
                
                                                            {% if page_obj.next_page_number < page_obj.paginator.num_pages|add:"-1" %}
                                                                <li style="padding: 0 10px;">. . .</li>
                                                            {% endif %}
                
                                                            {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                                                                <li class="page-item">
                                                                    <a class="page-link" style="border-radius: 5px;" href="?page={{ page_obj.paginator.num_pages }}&filial-name={{ current_filial }}&date1={{ date1 }}&date2={{ date2 }}">{{ page_obj.paginator.num_pages }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endif %}
                                                        <li class="page-item d-none"></li>
                                                    </ul>
                                                </nav>
                                            </div>  -->

                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
{% block js %}
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="{% static 'plugins/highlight/highlight.pack.js'%}"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/js/scrollspyNav.js'%}"></script>
    <script src="{% static 'plugins/flatpickr/flatpickr.js'%}"></script>
    <script src="{% static 'plugins/noUiSlider/nouislider.min.js'%}"></script>

    <script src="{% static 'plugins/flatpickr/custom-flatpickr.js'%}"></script>
    <script src="{% static 'plugins/noUiSlider/custom-nouiSlider.js'%}"></script>
    <script src="{% static 'plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js'%}"></script>
        <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
    <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    
    <script>
    function getCSRFToken() {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, 10) == ('csrftoken' + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(10));
                break;
            }
            }
        }
      return cookieValue;
    }
    $(document).ready(function(){
        $('#rangeCalendarFlatpickr').on("change", function (){
           
            var csrfToken = getCSRFToken();
            let selectedFilial = document.getElementById("basicSelect").value;
            var date1 = $('#rangeCalendarFlatpickr').val().slice(0, 10);
            var date2 = $('#rangeCalendarFlatpickr').val().slice(14, 24);
            var dt = JSON.stringify({
                date1:date1,
                date2:date2,
            })
            
            $.ajax({
                headers: { "X-CSRFToken": csrfToken },
                type: "GET",
                data: {
                        "filial-name": selectedFilial,
                        "date1": date1,
                        "date2": date2
                    },
                success: function(responseData) {
                    $("#html5-extension").html(jQuery(responseData).find("#html5-extension").html());
                }
            });
        });
    
        $(document).ready(function(){
            $('#basicSelect').on("change", function (){
            
                let csrfToken = getCSRFToken();
                let selectedFilial = document.getElementById("basicSelect").value;
                let date1 = $('#rangeCalendarFlatpickr').val().slice(0, 10);
                let date2 = $('#rangeCalendarFlatpickr').val().slice(14, 24);
                
                $.ajax({
                    headers: { "X-CSRFToken": csrfToken },
                    type: "GET",
                    data: {
                        "filial-name": selectedFilial,
                        "date1": date1,
                        "date2": date2
                    },
                    success: function(responseData) {
                        // let response = jQuery(responseData).find("#html5-extension").html()
                        // $("#html5-extension").html(jQuery(responseData).find("#html5-extension").html());
                        document.open()
                        document.write(responseData)
                        document.close()
                    }
                });

            });
        });
        
    });
    </script>
    <script>
        $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn' },
                    { extend: 'csv', className: 'btn' },
                    { extend: 'excel', className: 'btn' },
                    { extend: 'print', className: 'btn' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": " _PAGE_ / _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Izlash",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50, 100],
            "pageLength": 15
        } );
    </script>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock js %}
